* {
  box-sizing: border-box; /*모든 요소의 크기 계산을 박스 모델로 함 border-box은 padding과 테두리만 포함해서 계산  */
}

body {
  background-color: yellow; /* body의 백그라운드 컬러 노란색*/
  display: flex;
  flex-direction: column; /* 해당 요소를 이용해서 flex 레이아웃에서 column(가로)으로 배치하도록 설정*/
  align-items: center;/*flex 레이아웃의 아이템들을 중앙으로 모으는 역활*/
  margin: 0;
  min-height: 100vh;
}

h1 {
  margin: 0;
  margin-bottom: 12px;
}

.todo-container {
  max-width: 400px;
  width: 100%; /*부모 요소의 너비로 지정 */
  background-color: #FFE8AD;
  text-align: center;
  padding: 20px;
}

#inputField #todoInput {
  width: calc(100% - 45px); /*부모요소의 너비에서 45px를 뺀 값*/
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 10px;
}

#inputField #todoInput:focus {
  outline: none; /*input 요소에 focus 되면 윤곽선을 제거해라*/
}

#inputField #addBtn {
  position: relative;
  width: 35px;
  height: 35px;
  border: none;
  background-color: #242424;
  border-radius: 4px;
  cursor: pointer; /* 해당 요소에 마우스를 올리면 커서가 손가락 모양으로 바뀜 */
  vertical-align: middle; /*해당 요소의 텍스트 인라인요소들이 수직으로 정렬시켜줌*/
}

#inputField #addBtn span {
  display: block;
  width: 2px;
  height: 15px;
  background-color: #FFE8AD;
  position: absolute;
  transform: translate(-50%, -50%); /*요소의 수직과 수평 조절*/
  top: 50%;
  left: 50%;
}

#inputField #addBtn span:last-child {
  transform: translate(-50%, -50%) rotate(-90deg); /*transform을 이용하여 span의 마지막 요소를 중간으로 정렬 후 rotate를 이용해서 회전 시킴*/
}
/* flex 레이아웃설정으로 중앙으로 모여진걸 왼쪽으로 옮기는 CSS */
#todoList {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 10px;
}

#todoList li {
  padding: 10px 0;
  user-select: none; /*li 내의 텍스트를 사용자가 선택 할 수 없도록 해주는 css*/
}

#todoList button {
  width: 15px;
  height: 15px;
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer; /*해당 버튼에 커서 올릴 시 마우스 커서가 손가락으로 변함*/
  margin-right: 8px;
}

/*생성된 리스트가 complete 클래스가 추가되었을 때의 CSS */
#todoList li.complete {
  text-decoration: line-through;
  color: rgb(155, 155, 155);
}

#todoList li.complete button::after {
  content: ""; /*가상 요소에 실제 내용이 없도록 만든다. 시각적 장식으로 만들 때 사용*/
  display: block;
  width: 5px;
  height: 10px;
  transform: translate(-2px, -2px) rotate(45deg);
  border-right: 2px solid #f1b116;
  border-bottom: 2px solid #f1b116;
}

.delete_Btn button {
  height: 34px;
  border-radius: 10px;
  background-color: #242424;
  color: white;
  border: none;
}









